.comment {
    -fx-fill: #6A9955;
}

.cdata {
    -fx-fill: #606060;
}

.tag {
    -fx-fill: #1b8cef;
}

.attribute {
    -fx-fill: #f18383;
}

.value {
    -fx-fill: #CE9178;
}

.bracket {
    -fx-fill: #1b8cef;
}

.local {
    -fx-fill: #065ea5;
}

.styled-text-area .selection {
    -fx-fill: rgba(128, 128, 128, 0.3) !important;
}

.styled-text-area .selection-unfocused {
    -fx-fill: rgba(128, 128, 128, 0.15) !important;
}

.search-result {
    -rtfx-background-color: rgba(21, 255, 0, 0.22) !important;
}

.nan-highlight {
    -fx-fill: #fff;
    -rtfx-background-color: #e53935;
}

.tag-match-highlight {
    -rtfx-background-color: rgba(100, 149, 237, 0.3); /* голубая подсветка */
}

.fold-button {
    -fx-font-size: 8px;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.fold-marker {
    -fx-font-size: 10px;
    -fx-alignment: center;
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-border-color: gray;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

.fold-glyph {
    -fx-font-size: 10px;
    -fx-background-color: transparent;
    -fx-text-fill: #1b8cef; /* как подсветка тегов */
    -fx-alignment: center;
    -fx-padding: 0;
}